@import "tailwindcss";

/* Minimal global styles */
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;

  /* Dark mode defaults */
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Light mode overrides */
@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #213547;
  }
}
