services:
  nginx:
    image: nginx:stable
    restart: always
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - 8000:80
    depends_on:
      - webui
      - rest-api
    networks:
      - paperless-net

  webui:
    build: ./webui
    expose:
      - "3000"
    volumes:
      - ./webui:/app
      - /app/node_modules
    networks:
      - paperless-net

  rest-api:
    build: ./rest-api
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/paperless
      SPRING_DATASOURCE_USERNAME: paperless
      SPRING_DATASOURCE_PASSWORD: secret
      SPRING_ELASTICSEARCH_URIS: http://elasticsearch:9200
      RABBITMQ_HOST: rabbitmq
      MINIO_ENDPOINT: http://minio:9000
      MINIO_ACCESS_KEY: paperless
      MINIO_SECRET_KEY: paperless123
      MINIO_BUCKET: paperless-files
    volumes:
      - ./rest-api:/app # mount source code
      - ~/.m2:/root/.m2 # cache Maven dependencies
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_started
      minio:
        condition: service_started
      # elasticsearch:
      #   condition: service_started
    networks:
      - paperless-net

  ocr-worker:
    build: ./ocr-worker
    environment:
      RABBITMQ_HOST: rabbitmq
      MINIO_BUCKET: paperless-ocr-text
    depends_on:
      rabbitmq:
        condition: service_healthy
      minio:
        condition: service_started
    networks:
      - paperless-net

  postgres:
    image: postgres:16
    environment:
      POSTGRES_DB: paperless
      POSTGRES_USER: paperless
      POSTGRES_PASSWORD: secret
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - paperless-net
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U paperless -d paperless"]
      interval: 5s
      timeout: 5s
      retries: 5

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "9093:15672"
    networks:
      - paperless-net
    healthcheck:
      test: rabbitmq-diagnostics -q check_port_connectivity
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  minio:
    image: minio/minio
    command: server /data --console-address ":9090"
    environment:
      MINIO_ROOT_USER: paperless
      MINIO_ROOT_PASSWORD: paperless123
    volumes:
      - minio-data:/data
    ports:
      - "9000:9000"
      - "9090:9090"
    networks:
      - paperless-net

  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.14.3
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
    ports:
      - "9200:9200"
      - "9092:5601"
    volumes:
      - esdata:/usr/share/elasticsearch/data
    networks:
      - paperless-net

volumes:
  pgdata:
  minio-data:
  esdata:

networks:
  paperless-net:
