spring:
  application:
    name: REST-API
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  mvc:
    servlet:
      path: /api/v1
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest
springdoc:
  api-docs:
    path: /api-docs
